@media (max-width: 600px) {
    .game-row {
        width: 80%;
    }
    
    .base-map {
        width: 20px; /* Adjust base-map size for smaller screens if needed */
    }
}


.base-map {
    display: grid;
    grid-template-columns: repeat(3, 10px);
    grid-template-rows: repeat(3, 10px);
    justify-items: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.base {
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid black;
}

.first-base {
    grid-column: 3;
    grid-row: 3;
}

.second-base {
    grid-column: 2;
    grid-row: 1;
}

.third-base {
    grid-column: 1;
    grid-row: 3;
}

.occupied {
    background-color: lightblue;
}

.game-row {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 1%;
    margin: 2%;
    width: 48%;
    box-sizing: border-box; 
}

.game-info {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.game-details {
    margin: 0;
    margin-bottom: 2%; 
}

#back-to-main {
    margin-bottom: 2%;
}

#mlb-data {
    margin-left: 2%;
}

#show-all-test {
    margin-left: -2%;
}

.base-map {
    margin-left: auto; 
    margin-top: -3%;
}
